/* here i set the font family */
*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* here i set the background image */ 
body{
    background-image: url(https://freedesignfile.com/upload/2018/01/International-chess-background-design-vector-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #ef7c08;
    box-shadow: 0 0 10px 0 rgba(245, 238, 238, 0.5);
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(250, 8, 8, 0.5);
    margin: 10px;
    margin-top: 20px;
    padding: 10px;
}
/* here i set the title */
#title{
    text-align: center;
    color: #e64040;
    border: 5px solid #e05c5c;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
    
}
/* here i set the title hover */
#title:hover{
    background-color: #ec1313;
    color: #131413;
}
/* here i set the label */
label{
    color: #e70c0c;
    font-size: 20px;
    font-weight: bold;
}
/* here i set the p */
p{
    color: #050505;
}
/* here i set the game info text */
#game-info-text{
    border: 5px solid #ed1616;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px;
}

/* here i set the game board */
#gameboard{
    width: 320px;
    height: 320px;
    background-color: #131413;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 5px solid #ee0505;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    margin-top: 20px;
}
/* here i set the vs */
#vs{
    color: #f50a0a;
    font-size: 120px;
    margin: 0 auto;
   
}
/* here i set the vs hover */
#vs:hover{
    color: #080808;
}
/* here i set the game info */
#game-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    gap: 20px;
    align-items: center;
}
/* here i set the square */
.square {
    width: 40px;
    height: 40px;
    position: relative;
}
/* here i set the square hover */
.square:hover{
    background-color: #4ba3e6;
}
/* here i set the square svg */
.square svg {
    width: 30px;
    height: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
/* here i set the path */
path {
    position: relative;
    z-index: -9;
}
/* here i set the piece */
.piece {
    position: relative;
    z-index: 9;
}
/* here i set the beige */
.beige {
    background-color: #e59b23;
}
/* here i set the brown */
.brown {
    background-color: #e47012;
}
/* here i set the black */
.black {
    fill:rgb(28, 28, 28);
}
/* here i set the white */
.white {
    fill:rgb(255, 255, 255);
}
/* here i set the links list */
#links-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border: 5px solid #f8f8f8;
    background-color: #a0b5a0;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(241, 7, 7, 0.5);
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}
/* here i set the links list nav */
#links-list nav{
    margin: 10px;
}
/* here i set the player inputs */
.player-inputs {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
/* here i set the player 1 section */
.player1-section, .player2-section {
    text-align: center;
}
/* here i set the input */
input[type="text"] {
    padding: 5px;
    margin: 5px;
    border: 5px solid #f63838;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(244, 5, 5, 0.5);
}
/* here i set the button */
button {
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;
    border: 5px solid #6105f6;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(116, 71, 230, 0.5);
}
/* here i set the player 1 display */
#player1-display, #player2-display {
    margin-top: 10px;
    font-weight: bold;
    color: #050505;
    border: 5px solid #f63838;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(244, 5, 5, 0.5);
    padding: 10px;
}



